@model IEnumerable<QLTuyenDung.Models.ViecLam>

@{
    ViewData["Title"] = "Tuyển dụng";
}

    <link rel="stylesheet" href="~/css/tuyendung.css"/>
    <link rel="stylesheet" href="~/css/grid.css"/>
    <link rel="stylesheet" href="~/icons/fontawesome-free-6.4.2-web/fontawesome-free-6.4.2-web/css/all.min.css">

    <main>
        <section class="search-section">
            <form class="search-box" action="" method="">
                <input type="text" placeholder="Tìm kiếm theo tên, vị trí ứng tuyển">
                <button><i class="fas fa-search"></i> Tìm kiếm</button>
            </form>
        </section>
        <section class="job-info-section">
            <h2>Thông tin việc làm</h2>
            <div class="grid wide">
                <div class="job-list">

                @foreach(var viecLam in Model)
                {
                    <div class="job-card">
                        <div class="job-header">
                            <div class="job-header-title">
                                @viecLam.TieuDe
                            </div>
                        </div>
                        <div class="job-description">
                            <div class="job-description-title">
                                <p class="description-title">@viecLam.MoTa</p>
                            </div>
                            <div class="job-description-quanity">
                                <span class="description-quanity">Mức lương: @viecLam.MucLuong</span>
                            </div>
                        </div>
                        <div class="job-details">
                            <div class="job-details-apply">
                                <div class="details-apply-deadline">
                                    <span class="apply-deadline">Hạn nộp: @viecLam.NgayHetHan.ToString("dd/MM/yyyy")</span>
                                </div>
                                <div class="details-apply-btn">
                                    <a class="btn btn-apply" href="@Url.Action("Ungtuyen", "TuyenDung")">Ứng tuyển</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                </div>
            </div>
        </section>
    </main>





